@{
    ViewData["Title"] = "Home Page";
}
    <form asp-action="Index" method="post">
        <table border="1">
            <tr>
                <td>Name</td>
                <td><input type="text" name="Name" value="" /></td>
            </tr>
            <tr>
                <td>Author</td>
                <td><input type="text" name="Author" value="" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Kaydet" /></td>
            </tr>

        </table>
    </form>

